<%- include("partials/header") %>
	<style>
		/* CSS */
		.button-57 {
			position: relative;
			overflow: hidden;
			border: 1px solid #18181a;
			color: #18181a;
			display: inline-block;
			font-size: 15px;
			line-height: 15px;
			padding: 18px 18px 17px;
			text-decoration: none;
			cursor: pointer;
			background: #fff;
			user-select: none;
			-webkit-user-select: none;
			touch-action: manipulation;
		}

		.button-57 span:first-child {
			position: relative;
			transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
			z-index: 10;
		}

		.button-57 span:last-child {
			color: white;
			display: block;
			position: absolute;
			bottom: 0;
			transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
			z-index: 100;
			opacity: 0;
			top: 50%;
			left: 50%;
			transform: translateY(225%) translateX(-50%);
			height: 14px;
			line-height: 13px;
		}

		.button-57:after {
			content: "";
			position: absolute;
			bottom: -50%;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: black;
			transform-origin: bottom center;
			transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
			transform: skewY(9.3deg) scaleY(0);
			z-index: 50;
		}

		.button-57:hover:after {
			transform-origin: bottom center;
			transform: skewY(9.3deg) scaleY(2);
		}

		.button-57:hover span:last-child {
			transform: translateX(-50%) translateY(-100%);
			opacity: 1;
			transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
		}
	</style>

	<%- include("partials/navbar",{user:user,CartLength:CartLength}) %>



		<section id="carouselExampleIndicators" class=" text-center overly carousel slide " data-ride="carousel">

			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<% banners.forEach(function (banner) {%>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img class="d-block w-100" src="/user_public/images/wishsad.png" style="height:85vh;" alt="First slide">
						<div class="carousel-caption d-none d-md-block">
							<h1 class="text-white">
								<%= banner.title%>
							</h1>
							<p class="text-white">
								<%= banner.subtitle %>
							</p>

							<div class="content-block">

								<div class="short-popular-category-list text-center">
									<h2>Popular Category</h2>
									<ul class="list-inline">
										<li class="list-inline-item">
											<a href="/sortProductByPrice?value=Omega"> OMEGA</a>
										</li>
										<li class="list-inline-item">
											<a href="/sortProductByPrice?value=Rolex"> Rolex</a>
										</li>
										<li class="list-inline-item">
											<a href="/sortProductByPrice?value=Apple"> APPLE</a>
										</li>
										<li class="list-inline-item">
											<a href="/categorySelection?category=SEIKO"> Seiko</a>
										</li>
										<li class="list-inline-item">
											<a href="/categorySelection?category=AUDEMARS PIGUET">Audemars Piguet</a>
										</li>
									</ul>
								</div>

							</div>

						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="<%= banner.image[1] %>" style="height:85vh;"
							alt="Second slide">
						<div class="carousel-caption d-none d-md-block">
							<h1 class="text-white">
								<%= banner.title %>
							</h1>
							<p class="text-white">
								<%= banner.subtitle %>
							</p>
							<div class="content-block">

								<div class="short-popular-category-list text-center">
									<h2>Popular Category</h2>
									<ul class="list-inline">
										<li class="list-inline-item">
											<a href="/sortProductByPrice?value=Omega"> OMEGA</a>
										</li>
										<li class="list-inline-item">
											<a href="/sortProductByPrice?value=Rolex"> Rolex</a>
										</li>
										<li class="list-inline-item">
											<a href="/sortProductByPrice?value=Apple"> APPLE</a>
										</li>
										<li class="list-inline-item">
											<a href="/categorySelection?category=SEIKO"> Seiko</a>
										</li>
										<li class="list-inline-item">
											<a href="/categorySelection?category=AUDEMARS PIGUET"> Audemars Piguet</a>
										</li>
									</ul>
								</div>

							</div>
						</div>
					</div>
					<div class="carousel-item">
						<img class="d-block w-100" src="<%= banner.image[2] %>" style="height:85vh;" alt="Third slide">
						<div class="carousel-caption d-none d-md-block">
							<h1 class="text-white">
								<%= banner.title %>
							</h1>
							<p class="text-white">
								<%= banner.subtitle %>
							</p>
							<div class="content-block">

								<div class="short-popular-category-list text-center">
									<h2>Popular Category</h2>
									<ul class="list-inline">
										<li class="list-inline-item">
											<a href="/sortProductByPrice?value=Omega"> OMEGA</a>
										</li>
										<li class="list-inline-item">
											<a href="/sortProductByPrice?value=Rolex"> Rolex</a>
										</li>
										<li class="list-inline-item">
											<a href="/sortProductByPrice?value=Apple"> APPLE</a>
										</li>
										<li class="list-inline-item">
											<a href="/categorySelection?category=SEIKO"> Seiko</a>
										</li>
										<li class="list-inline-item">
											<a href="/categorySelection?category=AUDEMARS PIGUET"> Audemars Piguet</a>
										</li>
									</ul>
								</div>

							</div>
						</div>

					</div>
				</div>
				<% }) %>

					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>



		</section>





		<section class="popular-deals section bg-gray">

			<div class="container">
				<div class="row">
					<div class="col-md-12">



						<div class="section-title">
							<h2>PRODUCTS</h2>
							<p>Experience Shopping</p>
						</div>
					</div>
				</div>
				<div class="row ">
					<!-- offer 01 -->
					<div class="col-lg-12 ">
						<div class="trending-ads-slide ">
							<% product.forEach(function(product, index) { %>
								<div class="col-sm-12 col-lg-4  ">
									<!-- product card -->
									<div class="product-item bg-light shadow ">
										<div class="card align-items-center">
											<div class="thumb-content">
												<!-- <div class="price">$200</div> -->
												<a href="/singleProduct/<%= product._id %>">
													<img class="card-img-top img-fluid" src="<%= product.photo[0] %>"
														style="height: 300px;" alt="Card image cap">
												</a>
											</div>
											<div class="card-body">
												<h4 class="card-title"><a href="/singleProduct/<%= product._id %>">
														<%= product.name %>
													</a></h4>
												<ul class="list-inline product-meta">
													<li class="list-inline-item">
														<h5>
															<%= product.category_name %>
														</h5>
													</li>
													<li class="list-inline-item">
														<h4><strong class="text-success">₹<%= product.price %>
																	/-</strong></h4>
													</li>
												</ul>
												<!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
											Explicabo, aliquam!</p> -->
												<div class="product-ratings">
													<ul class="list-inline">
														<!-- HTML !-->



														<!-- <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												       <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												       <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												       <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
												       <li class="list-inline-item"><i class="fa fa-star"></i></li> -->
														<!-- <li class="list-inline-item "><button id="addCart" data-product-id="<%= product._id %>" href="<%= product._id %>" class="button-57" role="button"><span class="text"><i class="fas fa-shopping-cart text-dark"></i></span><span>cart</span></button>
														</li>
														<li class="list-inline-item "><a class="button-57 mx-4" role="button"><span class="text"><i class="fas fa-heart text-dark"></i></span><span>wishlist</span></a>
														</li> -->



													</ul>
												</div>
											</div>
										</div>
									</div>



								</div>
								<% }) %>



						</div>
					</div>
				</div>
			</div>
		</section>




		<script>
			function handleCategoryChange(selectElement) {
				const selectedValue = selectElement.value;
				switch (selectedValue) {
					case '2':
						window.location.href = '/priceLowRated';
						break;
					// Handle other options if needed
				}
			}
		</script>







		<%- include("partials/footer") %>