<%- include("partials/header") %>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        <%- include("partials/sidebar") %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_navbar.html -->
                <%- include("partials/navbar") %>
                    <div class="container-fluid page-body-wrapper-lg">
                        <!-- partial -->
                        <div class="main-panel">

                            <div class="row ">
                                <div class="col-12 grid-margin">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title">Category Management</h4>

                                            <input type=button onClick="location.href='/getCategoryForm'"
                                                value='Add Category' class="btn btn-outline-primary">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Category</th>
                                                            <th>Discription</th>
                                                            <th>Take an Action</th>
                                                            <th></th>
                                                            <th></th>
                                                            <th>Product Status </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% category_find.forEach(function(category,index) { %>
                                                            <tr>
                                                                <td>
                                                                    <%= index+1 %>
                                                                </td>
                                                                <td>
                                                                    <%= category.category %>
                                                                </td>
                                                                <td>
                                                                    <%= category.description %>
                                                                </td>
                                                                <td>
                                                                    <li class="nav-item dropdown"
                                                                        style=" list-style-type: none;">
                                                                        <a class="nav-link" id="profileDropdown"
                                                                            href="#" data-toggle="dropdown">
                                                                            <div class="navbar-profile">
                                                                            <i class="mdi mdi-pen d-none d-sm-block"
                                                                                    style="font-size: 24px;"></i>
                                                                            </div>
                                                                        </a>
                                                                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                                                                            aria-labelledby="profileDropdown">
                                                                            <h6 class="p-3 mb-0">Take Action</h6>
                                                                            <div class="dropdown-divider"></div>

                                                                            <div class="dropdown-divider"></div>
                                                                            <a class="dropdown-item preview-item"
                                                                                href="/<%= category._id %>">
                                                                                <div class="preview-thumbnail">
                                                                                    <div
                                                                                        class="preview-icon bg-dark rounded-circle">
                                                                                        <i
                                                                                            class="mdi mdi-logout text-danger"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="preview-item-content">
                                                                                    <p class="preview-subject mb-1">
                                                                                        Update</p>
                                                                                </div>
                                                                            </a>
                                                                            <div class="dropdown-divider"></div>
                                                                            <a class="dropdown-item preview-item"
                                                                                href="/deleteCategory/<%= category._id%>">
                                                                                <div class="preview-thumbnail">
                                                                                    <div
                                                                                        class="preview-icon bg-dark rounded-circle">
                                                                                        <i
                                                                                            class="mdi mdi-logout text-danger"></i>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="preview-item-content">
                                                                                    <p class="preview-subject mb-1">
                                                                                        Delete
                                                                                    </p>
                                                                                </div>
                                                                                <div class="dropdown-divider"></div>
                                                                            </a>

                                                                        </div>
                                                                    </li>


                                                                </td>
                                                                <td>

                                                                </td>
                                                                <td></td>
                                                                <td>
                                                                    <div class="badge badge-outline-success">Approved
                                                                </td>
                                                            </tr>
                                                            <% }) %>

                                                                <tr>
                                                                    <td>
                                                                        <div class="form-check form-check-muted m-0">

                                                                        </div>
                                                                    </td>
                                                                    <td> </td>
                                                                    <td> </td>
                                                                    <td>
                                                                        <% if (req.query.error) { %>
                                                                            <div id="error-message">
                                                                                <%= req.query.error %>
                                                                            </div>
                                                                            <% } %>
                                                                    </td>
                                                                    <td> </td>
                                                                    <td> </td>
                                                                    <td> </td>

                                                                </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <script>
                                // Timeout to hide the error message after 5 seconds (adjust the duration as needed)
                                setTimeout(function () {
                                    var errorMessage = document.getElementById('error-message');
                                    if (errorMessage) {
                                        errorMessage.style.display = 'none';
                                    }
                                }, 1000);
                            </script>

                            <%- include("partials/footer") %>

                        </div>